---
http_interactions:
- request:
    method: get
    uri: https://domai.nr/api/json/search?q=twitbook
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"991602b3520ae947ebcfc13839765713\""
    body:
      encoding: UTF-8
      string: "{\"query\":\"twitbook\",\"results\":[{\"domain\":\"twitbook.com\",\"host\":\"\",\"subdomain\":\"twitbook.com\",\"path\":\"\",\"availability\":\"taken\",\"register_url\":\"https://domai.nr/twitbook.com/register\"},{\"domain\":\"twitbook.net\",\"host\":\"\",\"subdomain\":\"twitbook.net\",\"path\":\"\",\"availability\":\"taken\",\"register_url\":\"https://domai.nr/twitbook.net/register\"},{\"domain\":\"twitbook.org\",\"host\":\"\",\"subdomain\":\"twitbook.org\",\"path\":\"\",\"availability\":\"available\",\"register_url\":\"https://domai.nr/twitbook.org/register\"},{\"domain\":\"twitbook.co\",\"host\":\"\",\"subdomain\":\"twitbook.co\",\"path\":\"\",\"availability[...]
- request:
    method: get
    uri: https://domai.nr/api/json/search?q=facetweet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"690c76ea706deb2af84b658efa10e7dd\""
    body:
      encoding: UTF-8
      string: "{\"query\":\"facetweet\",\"results\":[{\"domain\":\"facetweet.com\",\"host\":\"\",\"subdomain\":\"facetweet.com\",\"p[...]
